body,
html {
	width: 100vw;
	height: 100vh;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: 'Ubuntu', sans-serif;
}

.my-menu ul {
	list-style-type: none;
	margin: 0 0 0 120px;
	padding: 2px 0;
}

.my-menu li {
	color: black;
	padding: 0 0 0 4px;
	display: inline;
	text-decoration: none;
	font-size: 1.5rem;
	line-height: 1.25rem;
}

.my-menu li a {
	color: #171717;
	text-decoration: none;
	margin-right: 20px;
}

.my-menu li:hover {
	cursor: pointer;
}

.header-wrapper {
	width: 100vw;
	height: 100vh;
}

.travel-goals {
	color: #171717;
	display: flex;
	flex-direction: column;

}

.text-travel,
.text-goals {
	display: inline-block;
	color: #171717;
	overflow: hidden;
}

.text-travel-bg {
	background-color: #275EA7;
}

.text-goals-bg {
	background-color: #612E8A;
}

.homepage-photo-travel {
	background-image: url("images/homepage-photos/20190316_093006.jpg");
	height: 65%;
	width: 25vw;
	background-size: cover;
	display: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
	transition: .2s ease-in;
}

.homepage-photo-goals {
	background-image: url("images/homepage-photos/IMG2019021614270.jpg");
	height: 65%;
	width: 25vw;
	background-size: cover;
	display: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
	transition: .2s ease-in;
}

.homepage-photo-goals.show,
.homepage-photo-travel.show {
	display: flex;
	justify-content: center;
}

.text-link a:hover {
	text-decoration: none;
	color: white;
}

.text-travel p {
	font-size: 8rem;
	font-weight: 600;
	margin: 0 0 0 120px;
	padding: 10px 0;
	cursor: pointer;
	line-height: 7rem;
}

.text-goals p {
	font-size: 8rem;
	font-weight: 600;
	margin: 0 0 0 120px;
	padding: 10px 0;
	cursor: pointer;
	line-height: 7rem;
}


/* //HOMEPAGE MEDIA QUERIES */

@media (max-width: 375px) {

	.my-menu ul {
		display: none;
	}
	
	.text-travel {
		color: #275EA7;
	}
	
	.text-goals {
		color: #612E8A;
		letter-spacing: 5px;
	}
	
	.text-travel p, .text-goals p {
		margin: 0;
		padding: 0; 
		font-size: 5.5rem;
		text-align: center;
		line-height: 90px;
	}
	
}

@media (min-width: 376px) and (max-width: 576px) {

	.my-menu ul {
		/* margin: 0;
		text-align: center; */
		display: none;
	}
	
	/* .my-menu li {
		font-size: 2.4rem;
	} */
	
	.text-travel {
		color: #275EA7;
	}
	
	.text-goals {
		color: #612E8A;
		letter-spacing: 5px;
	}
	
	.text-travel p, .text-goals p {
		margin: 0;
		padding: 0; 
		font-size: 6rem;
		text-align: center;
		line-height: 100px;
	}	

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	.my-menu ul {
		margin: 0;
		text-align: center;
	}
	
	.my-menu li {
		font-size: 2.4rem;
	}
	
	.text-travel {
		color: #275EA7;
	}
	
	.text-goals {
		color: #612E8A;
		letter-spacing: 15px;
	}
	
	.text-travel p, .text-goals p {
		margin: 0;
		padding: 30px; 
		font-size: 11rem;
		text-align: center;
	}	

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) {

.my-menu ul {
	margin: 0;
	text-align: center;
}

.my-menu li {
	font-size: 2.8rem;
}

.text-travel {
	color: #275EA7;
}

.text-goals {
	color: #612E8A;
	letter-spacing: 15px;
}

.text-travel p, .text-goals p {
	margin: 0;
	padding: 40px; 
	font-size: 13rem;
	text-align: center;
}

}
