body,
html {
	width: 100%;
	height: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: 'Ubuntu', sans-serif;
}


/*//FOR MENU BAR*/

.navbar {
	position: fixed !important;
    background: rgba(67, 67, 67, 0.5);
    width: 100%;
	font-size: 1.2rem;
	margin-top: 0px;
	justify-content: flex-end !important;
	z-index: 1;
}

.navbar ul {
	padding: 5px 0;
}

.navbar li a {
	color: white;
	margin-right: 30px;
	text-decoration: none;
	margin-bottom: 2px;
}

.navbar li a:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.navbar img {
	height: 23px;
	display: none;
}

/*//FOR COVER PHOTO*/

.background-cover {
	background: url("images/about-photos/sumilon-sandar-1.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.background-cover p {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 15rem;
	color: white;
	letter-spacing: 15px;
}

/*//FOR GROUP PHOTO SET 1*/

.group-photo-set1 {
	height: 100%;
	background-color: #275EA7;
}

.group-photo-set1 img, .group-photo-set2 img {
	width: 100%;
	margin: 4px 0;
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.group-photo-set2 {
	height: 100%;
	background-color: #612E8A;
}

.content-photo-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	height: 120vh;
	width: 100%;
}

.content-photo-1 p {
	width: 460px;
	font-size: 1.1rem;
	line-height: 35px;
}

.content-photo-1 h3 {
	color: #275EA7;
	font-size: 2.5rem;
	font-family: 'Covered By Your Grace', cursive;
}

.content-photo-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	height: 150vh;
	width: 100%;
	left: 0;
}

.content-photo-2 p {
	width: 460px;
	font-size: 1.1rem;
	line-height: 35px;
}


/* //FOR FOOTER */

footer {
	text-align: center;
	padding: 10px;
	color: white;
	background-color: rebeccapurple;
}

footer p {
	font-size: 0.8rem;
	margin: 0;
}

footer img {
	padding: 0;
	margin: 0;
	max-width: 70px;
	height: auto;
}

@media (max-width: 375px) {


	.background-cover {
		height: 50%;
	}

	.navbar {
		background-color: transparent;
	}

	.navbar ul {
		display: none;
	}

	.group-photo-1,
	.group-photo-2 {
		column-count: 1;
	}

	.group-photo-1 img,
	.group-photo-2 img {
		margin: 2px 0;
		width: 93%;
	}

	.content-photo-1,
	.content-photo-2 {
		height: 85vh;
		column-count: 1;
	}

	.content-photo-1 h3 {
		font-size: 2.3rem;
	}

	.content-photo-1 p,
	.content-photo-2 p {
		width: 90%;
		font-size: 1.2rem;
	}

}

@media (min-width: 376px) and (max-width: 767px) {

	.background-cover {
		height: 50%;
	}

	.navbar {
		background-color: transparent;
	}

	.navbar ul {
		display: none;
	}

	.group-photo-1,
	.group-photo-2 {
		column-count: 1;
	}

	.group-photo-1 img,
	.group-photo-2 img {
		margin: 2px 0;
		width: 93%;
	}

	.content-photo-1,
	.content-photo-2 {
		height: 85vh;
		column-count: 1;
	}

	.content-photo-1 h3 {
		font-size: 2.3rem;
	}

	.content-photo-1 p,
	.content-photo-2 p {
		width: 90%;
		font-size: 1.2rem;
	}

}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	.background-cover {
		height: 50%;
	}

	.background-cover p {
		font-size: 13rem;
		letter-spacing: 13px;
	}

	.navbar {
		background-color: transparent;
	}

	.navbar ul {
		display: none;
	}
	
	.group-photo-1,
	.group-photo-2 {
		column-count: 1;
	}

	.group-photo-1 img,
	.group-photo-2 img {
		margin: 8px 0;
		width: 93%;
	}

	.content-photo-1,
	.content-photo-2 {
		height: 85vh;
		column-count: 1;
	}

	.content-photo-1 h3 {
		font-size: 2.8rem;
	}

	.content-photo-1 p,
	.content-photo-2 p {
		width: 85%;
		font-size: 1.7rem;
		line-height: 55px;
	}

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

	.container-fluid {
		overflow: hidden;
	}

	.background-cover {
		height: 50%;
	}

	.navbar {
		background-color: transparent;
	}

	

	.navbar ul {
		display: none;
	}

	.navbar img  {
		display: block;
		margin-right: 25px;
		margin-top: 15px;
	}



	.group-photo-1,
	.group-photo-2 {
		column-count: 1;
	}

	.group-photo-1 img,
	.group-photo-2 img {
		margin: 8px 0;
		width: 93%;
	}

	.content-photo-1,
	.content-photo-2 {
		height: 85vh;
		column-count: 1;
	}

	.content-photo-1 h3 {
		font-size: 3rem;
	}

	.content-photo-1 p,
	.content-photo-2 p {
		width: 85%;
		font-size: 2rem;
		line-height: 60px;
	}

}
